.footer{
    background-color: lightsteelblue;
    height: 4rem;
    position: fixed;
    bottom: 0;
    left:0;
    width: 100%;
    padding: 1rem;
}

.footer > span{
    align-items: center !important;
    padding: 0px !important;

}